/* a {
  color: rgb(44, 102, 202);
} */

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.78rem !important;
}

.image-caption {
  text-align: center;
  font-style: italic;
}
